<html>
<head>
	{% block hidden_comments %}

	{% endblock %}
	<!-- <link rel="stylesheet" type="text/css" href="/reports/media/css/basic.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

	{% block css %}

	{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	{% block js_header %}
	{% endblock %}
</head>
<body>
<nav id="nav_bar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="../home">Redmine Time Entries</a>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'time_entries' %}">Entries</a></li>
            <li><a href="{% url 'calendar' %}">Calendar</a></li>
            <li><a href="{% url 'distribution' %}">Time Distribution</a></li>
	    {% if user.is_staff %}
            <li><a href="{% url 'planning_home' %}">Planning</a></li>
            <li><a href="{% url 'rates_home' %}">Rates</a></li>
            <li><a href="{% url 'report_generator' %}">CORES Report</a></li>
        {% endif %}
        </ul>
    </div>
</nav>



<section class="contents">
{% block content %}

{% endblock %}



</section>
<script src="/static/js/jquery-2.1.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block js_body %}
{% endblock %}

</body>
</html>
