{% extends "base.html" %}

{% block title %}Redmine Time-tracking Distribution{% endblock %}

{% block css %}
    <link href='/static/css/visualize.css' rel="stylesheet" type="text/css" />
    <link rel='icon' type="image/ico" href="/static/img/report.ico" />
    <link rel="shortcut icon" href="/static/img/report.ico" />
    <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row" style="margin: 20px;">
        <div class="col-lg-8" style=" max-height: 90vh; overflow: auto;">
        <table class="table" style="border-bottom: 1px solid #ddd;" >
            <thead>
                <th style="width: 50px;"></th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Category</th>
                <th>CORES Display</th>
                <th style="text-align: right;">Rate $</th>
                <th style="text-align: right;">Save</th>
{#                <th>Internal</th>#}
            </thead>

            <tbody>
                {% for rate in rates %}
                <tr data-id="{{ rate.id }}" style="cursor: pointer; border-left: 1px solid #ddd; border-right: 1px solid #ddd; background-color:{% if rate.dark %}#eee{% else %}inherit{% endif %}">
                    <td style="text-align: center;"><input class="checkbox-select" type="checkbox" /></td>
                    <td>{{ rate.start_date }}</td>
                    <td>{{ rate.end_date }}</td>
                    <td style="width: 20%;"><select class="form-control category">{% for category in categories %}
                        <option value="{{ category }}" {% if category == rate.category %}selected{% endif %}>{{ category }}</option>
                        {% endfor %}
                    </select>
                        </td>
                    <td style="width: 20%;"><input type="text" class="form-control cores-display" value="{{ rate.cores_display }}" /></td>
                    <td style="width: 20%; text-align: right;">${{ rate.rate }}</td>
{#                    <td>{% if rate.internal %}Internal{% else %}<span style="font-weight: bold">External</span>{% endif %}</td>#}
                    <td style="text-align: right;"><button type="button" class="btn btn-success save-row">SAVE</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="col-lg-4">
            <h3>Edit Selected Rows</h3>
            <hr />
            <div class="input-group" style="display: inline-block; width: 50%;">
                <label>Start Date:</label>
                <input type="date" id="start_date" class="form-control" />
            </div>
            <button type="button" id="start_date_set" class="btn btn-success btn-sm" style="vertical-align: bottom; position: relative; bottom: 3px;">SET</button>
            <br /><br />
            <div class="input-group" style="display: inline-block; width: 50%;">
                <label>End Date:</label>
                <input type="date" id="end_date" class="form-control" />
            </div>
            <button type="button" id="end_date_set" class="btn btn-success btn-sm" style="vertical-align: bottom; position: relative; bottom: 3px;">SET</button>
            <br /><br />
            <div class="input-group" style="display: inline-block; width: 50%;">
                <label>Rate:</label>
                <input type="text" placeholder="$" id="rate" class="form-control" />
            </div>
            <button type="button" id="rate_set" class="btn btn-success btn-sm" style="vertical-align: bottom; position: relative; bottom: 3px;">SET</button>
            <br /><br />
            <button type="button" id="delete_button" class="btn btn-danger">DELETE SELECTED</button>
            <hr />
            <br /><br />
            <h3>Add New Fiscal Year</h3>
            <hr />
            <div class="input-group" style="display: inline-block; width: 50%;">
                <label>Start Date:</label>
                <input type="date" id="fiscal_start_date" value="{{ next_fiscal_start|date:"Y-m-d" }}" class="form-control" />
            </div>
            <br /><br />
            <div class="input-group" style="display: inline-block; width: 50%;">
                <label>End Date:</label>
                <input type="date" id="fiscal_end_date" value="{{ next_fiscal_end|date:"Y-m-d" }}" class="form-control" />
            </div>
            <br /><br />
            <div class="input-group" style="display: inline-block; width: 50%;">
                <label>Rate:</label>
                <input type="text" placeholder="$" id="fiscal_rate" class="form-control" />
            </div>
            <br /><br />
            <button type="button" class="btn btn-success add-year">Add New Rates</button>
        </div>
    </div>
{% endblock %}

{% block js_body %}
<script>
    $(document).ready(function(){

        // row clicking
       $('td').click(function(){
           var checkbox = $(this).parent().find('input.checkbox-select')[0];
           if($(checkbox).is(':checked')){
               $(checkbox).attr('checked', false)
           }else{
               $(checkbox).prop('checked', 'checked');
           }
       });

        $('input.checkbox-select').click(function(){
            // really hacky way to do it:
            this.checked = !this.checked;
        });

        $('select.category').click(function(e){
            e.stopPropagation();
            return false;
        });

        //****************** SET BUTTONS *****************//
        // start date
        $('#start_date_set').click(function(){
           // check to see if we have any selected
            if($('.checkbox-select:checked').length == 0){
                alert("Select at least one row first!");

            }
            // get a list of rows to do
            var id_list = [];
            $('.checkbox-select:checked').each(function(){
                id_list.push($(this).parent().parent().attr('data-id'));
            });

            $.ajax({
                url: '{% url 'save_start_date' %}',
                data: {start_date: $('#start_date').val(), ids: id_list},
                success: function(response){
                    if(response == 200){
                        alert("Saved!");
                        location.reload();
                    }
                },
                error: function(){
                    alert("Failed to save.");
                }
            })
        });

        // end date
        $('#end_date_set').click(function(){
           // check to see if we have any selected
            if($('.checkbox-select:checked').length == 0){
                alert("Select at least one row first!");

            }
            // get a list of rows to do
            var id_list = [];
            $('.checkbox-select:checked').each(function(){
                id_list.push($(this).parent().parent().attr('data-id'));
            });

            $.ajax({
                url: '{% url 'save_end_date' %}',
                data: {end_date: $('#end_date').val(), ids: id_list},
                success: function(response){
                    if(response == 200){
                        alert("Saved!");
                        location.reload();
                    }
                },
                error: function(){
                    alert("Failed to save.");
                }
            })
        });

         // rate
        $('#rate_set').click(function(){
           // check to see if we have any selected
            if($('.checkbox-select:checked').length == 0){
                alert("Select at least one row first!");

            }
            // get a list of rows to do
            var id_list = [];
            $('.checkbox-select:checked').each(function(){
                id_list.push($(this).parent().parent().attr('data-id'));
            });

            $.ajax({
                url: '{% url 'save_rates' %}',
                data: {rate: $('#rate').val(), ids: id_list},
                success: function(response){
                    if(response == 200){
                        alert("Saved!");
                        location.reload();
                    }
                },
                error: function(){
                    alert("Failed to save.");
                }
            })
        });

         // delete
        $('#delete_button').click(function(){
           // check to see if we have any selected
            if($('.checkbox-select:checked').length == 0){
                alert("Select at least one row first!");

            }
            // get a list of rows to do
            var id_list = [];
            $('.checkbox-select:checked').each(function(){
                id_list.push($(this).parent().parent().attr('data-id'));
            });

            if(!confirm("Are you sure you want to delete these "+id_list.length+" rates?")){
                return;
            }

            $.ajax({
                url: '{% url 'delete_rates' %}',
                data: {ids: id_list},
                success: function(response){
                    if(response == 200){
                        alert("Deleted!");
                        location.reload();
                    }
                },
                error: function(){
                    alert("Failed to delete.");
                }
            })
        });

        //****************** SAVE BUTTON *****************//
        $('.save-row').click(function(){
           var id = $(this).parent().parent().attr('data-id');
            var category = $(this).parent().parent().find('.category')[0].value;
            var cores_display = $(this).parent().parent().find('.cores-display')[0].value;

            $.ajax({
                url: '{% url 'save_rate' %}',
                data: {category: category, cores_display: cores_display, id: id},
                success: function(response){
                    if(response == 200){
                        alert("Saved!");
                    }
                }

            })
        });

        //****************** ADD FISCAL YEAR BUTTON ******//
        $('.add-year').click(function(){
            $.ajax({
                url: '{% url 'add_rates' %}',
                data: {start_date: $('#fiscal_start_date').val(), end_date: $('#fiscal_end_date').val(), rate: $('#fiscal_rate').val()},
                success: function(response){
                    if(response == 200){
                        alert("Saved!");
                        location.reload();
                    }
                }
            })
        })
    });
</script>
{% endblock %}